* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Links {
    text-decoration: none;
    color: white;
}

.section {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    position: relative;
    position: relative;
    background: rgb(252, 248, 236);
}

p {
    margin: 0;
    padding: 0;
}

.section::before {}

.form-container {
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80vh;
    width: 500px;
    height: 85vh;
    box-shadow: -5px 3px 3px rgba(0, 0, 0, 0.3);
    background: #ffff;
}

.form {
    margin-top: 2rem;
}

.left,
.right {
    padding: 3rem 2rem;
}

.explaination {
    font-size: 0.7rem;
    font-weight: 300;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}

.left h3 {
    margin-top: 3rem;
}

.left h6 {
    font-weight: 500;
    letter-spacing: 1px;
}

label {
    font-size: 0.8rem;
    margin-top: 1.5rem;
}

.signIn {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem 0rem;
    align-items: center;
    justify-content: center;
    margin-right: 0.7rem;
}

.second {
    background-color: rgba(31, 40, 235);
    width: 100%;
    border: none;
    padding: 0.1rem;
}

.submit {
    background-color: rgba(31, 40, 235);
    padding: 0.2rem;
    border: none;
    color: white;
    transition: 0.5s;
    width: 100%;
    font-size: 1.2rem;
}


/* .submit:hover {
    background: transparent;
    background-color: rgba(31, 40, 235);
} */

.form {
    display: flex;
    flex-direction: column;
}

input {
    background: rgb(236, 239, 247);
    height: 2rem;
    border-radius: 2px;
    margin-top: 0.5rem;
    margin-right: 1rem;
    border: none;
}

@media (max-width: 501px) {
    .container {
        max-width: 400px;
    }
    .left {
        padding: 1.3rem;
    }
    .left h3 {
        font-size: 1rem;
    }
    .explaination {
        font-size: 0.8rem;
    }
}

.login {
    width: 90%;
    border: none;
    padding: 0.5rem;
    margin: 2rem 0;
    border-radius: 2px;
    background-color: rgba(31, 40, 235);
    color: white;
}

.view {
    display: block;
}

.none {
    display: none;
}

.right {
    background-color: rgba(31, 40, 235);
    padding: 4rem 2rem;
    height: 85vh;
}

.icon-container {
    background: rgb(147, 248, 225);
    display: grid;
    place-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.icon {
    color: rgba(31, 40, 235);
}

.dream {
    color: white;
    font-size: 2rem;
    margin: 1rem 0rem;
}

.lorem {
    padding-top: 2rem;
    color: white;
    font-weight: 200;
    font-size: 0.9rem;
}

.right-q {
    position: relative;
    left: 80%;
}